
html, body, #annotation-app { width: 100%; height: 100% }

#annotation-app {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

#toolbar {
	--toolbar-height: 3rem;
	/* as a flex child item */
	flex: 0 0 var(--toolbar-height);
	border-bottom: solid 2px black;
	/* as a flex container */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
}

#viewer {
	flex: 1 1 auto;
}

/* TOOLBAR ############################ */

.selected {
	box-shadow: inset 0 0 0.3rem #000000;
}

.btn-tool {
	width: var(--toolbar-height);
	height: var(--toolbar-height);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80%;
	cursor: pointer;
}

.text-tool {
	--toolbar-text: 1rem;
	--vertical-padding: calc( (var(--toolbar-height) - var(--toolbar-text)) / 2 );
	font-size: var(--toolbar-text);
	line-height: var(--toolbar-text);
	padding: var(--vertical-padding) var(--toolbar-text);
	cursor: pointer;
}

.btn-tool:hover, .text-tool:hover {
	background-color: rgb(200,200,200);
}

#tool-grab-move {
	background-image: url("/public/img/toolbar/grabMove.svg");
}

#tool-bbox {
	background-image: url("/public/img/toolbar/boundingBox.svg");
}

#tool-polygon {
	background-image: url("/public/img/toolbar/polygon.svg");
}

#control-zoom-in {
	background-image: url("/public/img/toolbar/zoomIn.svg");
}

#control-zoom-out {
	background-image: url("/public/img/toolbar/zoomOut.svg");
}
